@model DnD5E.Models.CharacterModel

<a class="card" href="@Url.Action("Details","Character", new { id = 24 })">
    <h3>@Model.Name</h3>
    <p>@Model.Race - @String.Join(", ", Model.Class.ToArray())</p>
</a>