@model IEnumerable<DnD5E.Models.FeaturesModel>

@foreach (var item in Model.OrderBy(o => o.Name).ToList())
{
    @if (item.Description != null)
    {
        <div id="@(item.Name.Replace(" ",""))" class="content-wrapper">
            @for (int i = 0; i < item.Description.Count(); i++)
            {
                @if (i == 0)
                {
                    <p><b>@(item.Name):</b> @Html.Raw(item.Description[i])</p>
                }
                else
                {
                    <p>@Html.Raw(item.Description[i])</p>
                }
            }
        </div>
    }
}