
@{
    ViewData["Title"] = "_Layout";
}

<head></head>

@RenderBody()

<section class="footer" role="colpphon">
    <div class="container">
        <div class="col">
            <div class="footer_copyright">
                &copy; @DateTime.Now.Year
            </div>
        </div>
    </div>
</section>
