
@{
    ViewData["Title"] = "Random";
    Layout = "_Layout.cshtml";
}

<section class="character_intro">
    <h2>Dragonborn Sorceror 1</h2>
    <q class="character_flavorText">Do you hear that? It is the roaring in my blood.</q>
    <img class="character_avatar" src="" alt="Character Name (Race Class)" />
    <div class="character_summary">
        <p>Background description</p>
    </div>
</section>

<section class="character_stats">
    <div>
        <h3>Character Name</h3>
        <i>Medium humanoid (silver dragonborn, Draconic Bloodline, neutral good</i>
        <div>
            <b>Armor Class 15 (natural armor)</b>
            <b>Hit Points 44 (Hit Dice 6d6)</b>
            <b>Speed 30 ft.</b>
        </div>
        <div>
            <ul class="abilityScores">
                <li>
                    Str
                    <div>10 (+0)</div>
                </li>
                <li>
                    Dex
                    <div>14 (+2)</div>
                </li>
                <li>
                    Con
                    <div>14 (+2)</div>
                </li>
                <li>
                    Int
                    <div>10 (+0)</div>
                </li>
                <li>
                    Wis
                    <div>12 (+1)</div>
                </li>
                <li>
                    Cha
                    <div>16 (+3)</div>
                </li>
            </ul>
        </div>
        <div class="character_proficiencies">
            <div><b>Proficiencies</b> (+3 proficiiency bonus)</div>
        </div>
    </div>
    <div class="character_actions">
        <h4>Actions</h4>
        <ul class="actions"></ul>
        <h4>Bonus Actions</h4>
        <ul class="actions"></ul>
        <h4>Options</h4>
        <ul class="actions"></ul>
    </div>
</section>

<section class="character_background">
    <h3>Background (Outlander)</h3>
    <div class="background">
        <p>Background description 2</p>
        <p><b>Wanderer:</b> Background feature</p>
        <p><b>Faction:</b> You are a member of the Emerald Enclave, defenders of the wild lands.</p>
        <p><b>Personality Trait:</b> random personality trait</p>
        <p><b>Ideal:</b> random ideal</p>
        <p><b>Bond:</b> random bond</p>
        <p><b>Flaw:</b> random flaw</p>
    </div>
</section>

<section class="character_racialTraits">
    <h3>Dragonborn Traits</h3>
    <ul class="features">
        <li><p><b>Draconic Ancestry (Silver):</b>  racial trait</p></li>
        <li><p><b>Breath weapon:</b>  racial trait</p></li>
    </ul>
</section>

<section class="character_classFeatures">
    <h3>Sorceror Features</h3>
    <ul class="features">
        <li>
            <p><b>Spellcasting:</b>  class feature</p>
            <p><b>Spellcasting:</b>  class feature with indented second paragraph</p>
        </li>
        <li><p><b>Breath weapon:</b>  class feature</p></li>
    </ul>
</section>